@import './colors';
@import './mixins';
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

* {
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 0 0;
    color: $text_color;
}

h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 0 0;
    color: $text_color;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 0 0;
    color: $text_color;
}

.wp-site-blocks {
    padding: 0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 22px;
    }
}