@import '../../src/colors';
@import '../../src/mixins';

#steps-module {
    margin: 0;
}

.steps-module__container {
    min-height: 660px;
    @include flex-center-col;
    padding: 60px 0;
    position: relative;
    .steps-module__picture {
        width: 100%;
        @include flex-center-row;
        // position: absolute;
        div.steps-module__parall {
            margin-right: 10px;
            position: relative;
            > div.parall {
                width: 215px;
                height: 22px;
                display: inline-block;
                transform: skewX(-45deg);
            }
            &:last-of-type {
                margin-right: 0;
            }
        }
        div.steps-module__parall.parall-1__container {
            > div.parall-1 {
                background-color: $parall_1;
            }
            > div.parall-1__line {
                position: absolute;
                top: -70px;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto;
                width: 5px;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                > div:first-of-type {
                    width: 2px;
                    height: 40px;
                    background-color: $parall_1;
                }
                > div:nth-of-type(2) {
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background-color: $parall_1;
                    margin-bottom: 5px;
                }
            }
        }
        div.steps-module__parall.parall-2__container {
            > div.parall-2 {
                background-color: $parall_2;
            }
            > div.parall-2__line {
                position: absolute;
                bottom: -70px;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto;
                width: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                > div:first-of-type {
                    width: 2px;
                    height: 40px;
                    background-color: $parall_2;
                }
                > div:nth-of-type(2) {
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background-color: $parall_2;
                    margin-top: 5px;
                }
            }
        }
        div.steps-module__parall.parall-3__container {
            > div.parall-3 {
                background-color: $parall_3;
            }
            > div.parall-3__line {
                position: absolute;
                top: -70px;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto;
                width: 5px;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                > div:first-of-type {
                    width: 2px;
                    height: 40px;
                    background-color: $parall_3;
                }
                > div:nth-of-type(2) {
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background-color: $parall_3;
                    margin-bottom: 5px;
                }
            }
        }
        div.steps-module__parall.parall-4__container {
            > div.parall-4 {
                background-color: $parall_4;
            }
            > div.parall-4__line {
                position: absolute;
                bottom: -70px;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto;
                width: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                > div:first-of-type {
                    width: 2px;
                    height: 40px;
                    background-color: $parall_4;
                }
                > div:nth-of-type(2) {
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background-color: $parall_4;
                    margin-top: 5px;
                }
            }
        }
        div.steps-module__parall.parall-5__container {
            > div.parall-5 {
                background-color: $parall_5;
            }
            > div.parall-5__line {
                position: absolute;
                top: -70px;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto;
                width: 5px;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                > div:first-of-type {
                    width: 2px;
                    height: 40px;
                    background-color: $parall_5;
                }
                > div:nth-of-type(2) {
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    background-color: $parall_5;
                    margin-bottom: 5px;
                }
            }
        }
    }
    .single-step {
        max-width: 271px;
        @include flex-center-col;
        position: absolute;
        h4 {
            line-height: 28px;
            letter-spacing: 0.1px;
            text-align: center;
            span {
                color: $highlighted_text_color;
            }
        }
        > span {
            font-size: 60px;
            display: block;
            color: $text_color;
        }
        &.steps-module__step-1 {
            top: 60px;
            left: 20px;
        }
        &.steps-module__step-2 {
            bottom: 60px;
            left: 240px;
            flex-direction: column-reverse;
        }
        &.steps-module__step-3 {
            top: 60px;
            margin-left: 10px;
        }
        &.steps-module__step-4 {
            bottom: 60px;
            right: 240px;
            flex-direction: column-reverse;
        }
        &.steps-module__step-5 {
            top: 60px;
            right: 10px;
        }
    }
}

@media (min-width: 1400px) {
    .steps-module__container {
        max-width: 1200px;
    }
}

@media (max-width: 1400px) {
    .steps-module__container .single-step.steps-module__step-1 {
        left: 0;
    }
    .steps-module__container .single-step.steps-module__step-5 {
        right: 0;
    }
    .steps-module__container .single-step.steps-module__step-2 {
        left: 220px;
    }
    .steps-module__container .single-step.steps-module__step-4 {
        right: 220px;
    }
    .steps-module__container .steps-module__picture div.steps-module__parall>div.parall {
        width: 208px;
    }
}

@media (max-width: 1200px) {
    .steps-module__container {
        .steps-module__picture {
            display: flex;
            img {
                width: 95%;
                margin: 0 auto;
            }
        }
    }
    .steps-module__container .single-step.steps-module__step-2 {
        left: 175px;
    }
    .steps-module__container .single-step.steps-module__step-4 {
        right: 175px;
    }
    .steps-module__container .steps-module__picture div.steps-module__parall>div.parall {
        width: 161px;
    }
}

@media (max-width: 992px) {
    // .steps-module__container .steps-module__picture {
    //     display: none;
    // }
    .steps-module__container .single-step {
        position: initial;
        flex-direction: column-reverse;
        margin-bottom: 2rem;
    }
    .steps-module__container {
        padding: 30px 0;
        .steps-module__picture {
            position: absolute;
            transform: rotate(90deg);
            left: -350px;
            right: initial;
        }
    }
    .steps-module__container .steps-module__picture div.steps-module__parall.parall-1__container>div.parall-1__line,
    .steps-module__container .steps-module__picture div.steps-module__parall.parall-2__container>div.parall-2__line,
    .steps-module__container .steps-module__picture div.steps-module__parall.parall-3__container>div.parall-3__line,
    .steps-module__container .steps-module__picture div.steps-module__parall.parall-4__container>div.parall-4__line,
    .steps-module__container .steps-module__picture div.steps-module__parall.parall-5__container>div.parall-5__line {
        display: none;
    }
    .steps-module__container .steps-module__picture div.steps-module__parall>div.parall {
        width: 205px;
    }
}

@media (max-width: 768px) {
    .steps-module__container .single-step {
        margin-bottom: 1rem;
        > span {
            font-size: 45px;
        }
        h4 {
            font-size: 1rem;
        }
    }
    .steps-module__container {
        .steps-module__picture {
            left: -255px;
        }
    }
    .steps-module__container .steps-module__picture div.steps-module__parall>div.parall {
        width: 165px;
    }
}

@media (max-width: 575px) {
    .steps-module__container .steps-module__picture {
        display: none;
    }
}